/*
https://coolors.co/palette/2b2d42-8d99ae-edf2f4-ef233c-d90429
font-family: 'Abril Fatface', cursive;
font-family: 'Kdam Thmor Pro', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 90%;
    margin: auto;
    padding-bottom: 3rem;
}
section h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem;
    text-align: center;
}
.principal__p {
    font-size: 2rem;
    font-weight: 800;
    margin: 1.5rem;
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.leerJson {
    display: grid;
}
/*.botones {
    display: flex;
    flex-wrap: wrap;
}
.botones .btn1 {
    padding: .5rem;
    border: 1px solid red;
}*/


.Mañanas {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.MañanasDos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.Mañanas p, .MañanasDos p {
    background-color: rgb(255 255 255 / 90%);
    border: 1px solid #edf2f4;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    /* border-radius: 5px; */
    margin: 0;
    color: gray;
}

/*.tardes {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0.5rem;
}*/

.uno,
.dos,
.tres,
.cuatro,
.cinco {
    cursor: pointer;
    /*display: flex;
    flex-direction: column;*/
}

/*------------------ Ventana modal desayunos y meriendas ---------------*/

.divProductosModal {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #edf2f4;
    border-radius: 10px;
    max-width: 300px;
}
.divProductosModal__h2 {
    margin: 0.8rem auto;
    text-align: center;
    font-weight: 600;
}
.divProductosModal__h3 {
    margin: 1rem auto;
    width: 90%;
    text-align: center;
    font-weight: 400;
}

.divProductosModal__h4 {
    margin: .8rem auto;
    font-weight: 800;
}
.divProductosModal picture {
    margin: auto;
}
.divProductosModal picture img{
    border-radius: 5px;
}






.divProductos {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: .8rem auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #edf2f4;
    border-radius: 10px;
}
.divProductos__div{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 1rem;*/
    text-align: center;
    margin: auto;
}

.divProductos__h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 600;
    color: gray;
    width: 95%;
    margin: 1rem;
}
.divProductos__p {
    text-align: center;
    font-weight: 700;
    margin: 1rem;
}
.divProductos__img {
    background-size: cover;
    background-position: center;
    width: 30%;
}
/*.divProductos__img picture img {

}*/
/*.divProductos {*/
/*    background-color: #edf2f4;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    margin: 1rem auto;*/
/*    border-radius: 10px;*/
/*}*/
/*.divProductos__div {
    !*width: 65%;*!
    display: flex;
    flex-direction: column;
    !*align-items: center;*!
    !*margin: auto;*!
    justify-content: space-between;
}*/
/*.divProductos__img {
    !*background-image: url("../img/crepess.jpg");*!
    background-size: cover;
    background-position: center;
    !*width: 35%;*!
    height: auto;
}
.divProductos__img picture img {
    !*width: auto;*!
    !*height: 178px;*!
    border-radius: 10px 0px 0px 10px;
}
.divProductos .divProductos__img .picture .picture__img:nth-child(6) {
    !*width: auto;*!
    height: 188px;
    border-radius: 10px 0px 0px 10px;
}*/

.colors {
    background: #ff000042;
    border-radius: 5px;
}

.productoModal {
    background-color: #edf2f4;
}
.modalHombre {
    position: fixed;
    z-index: 1032;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.9);

}
#modal {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    border-radius: 1em;
    width: 1.5em;
    height: 1.5em;
    background-color: rgba(255, 255, 255, .9);
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    color: #1A4A5E;
    text-decoration: none;
    margin: 0.5rem;
}
.modalHombreEnsaladas {
    position: fixed;
    z-index: 1032;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.9);

}
#modalEnsaladas {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    border-radius: 1em;
    width: 1.5em;
    height: 1.5em;
    background-color: rgba(255, 255, 255, .9);
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    color: #1A4A5E;
    text-decoration: none;
    margin: 0.5rem;
}
/*.divProductos__img,*/
/*.divProductos__div {*/
/*    width: 100%;*/
/*}*/

.footer {
    text-align: center;

}
.footer p {
     padding: 1rem;
 }


.button {
    color: #0e0e0e;
    display: flex;
    justify-content: center;
    margin: auto 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem;
}

@media (min-width: 400px) and (max-width: 500px){

    /*.divProductos__img {*/
    /*    width: 40%;*/
    /*}*/
    /*.divProductos__div {*/
    /*    width: 60%;*/
    /*}*/
}

@media (min-width: 501px) and (max-width: 600px){


    .divProductos {
        /*grid-template-columns: 1fr;*/
        width: 100%;
    }
    /*.divProductos__img {*/
    /*    width: 40%;*/
    /*}*/
    /*.divProductos__div {*/
    /*    width: 60%;*/
    /*}*/
    .leerJson,
    .leerCafeteria,
    .leerEnsaladas,
    .leerBebidas,
    .leerPlatos {
        display: flex;
        flex-wrap: wrap;
    }
}
@media (min-width: 601px) and (max-width: 700px){


    .divProductos {
        /*background-color: #ef233c;*/
        grid-template-columns: 1fr;
        width: 30%;
    }
    .divProductos__img {
        width: 100%;
    }
    .divProductos__div{
        width: 100%;
        padding: .5rem;
    }

    .leerJson,
    .leerCafeteria,
    .leerEnsaladas,
    .leerBebidas,
    .leerPlatos {
        display: flex;
        flex-wrap: wrap;
    }
}
@media (min-width: 701px) and (max-width: 800px){
    .divProductos {
        grid-template-columns: 1fr;
        width: 22%;
        gap: 10px;
    }
    .divProductos__img {
        width: 100%;
    }
    .divProductos__div {
        width: 100%;
        padding: .5rem;
    }
    .leerJson,
    .leerCafeteria,
    .leerEnsaladas,
    .leerBebidas,
    .leerPlatos {
        display: flex;
        flex-wrap: wrap;
    }
}
@media (min-width: 801px) and (max-width: 900px){
    .divProductos {
        grid-template-columns: 1fr;
        width: 22%;
        gap: 10px;
    }
    .divProductos__img {
        width: 100%;
    }
    .divProductos__div {
        width: 100%;
        padding: .5rem;
    }
    .leerJson,
    .leerCafeteria,
    .leerEnsaladas,
    .leerBebidas,
    .leerPlatos {
        display: flex;
        flex-wrap: wrap;
    }
}
@media (min-width: 901px) and (max-width: 1000px){
    .divProductos {
        grid-template-columns: 1fr;
        width: 22%;
        gap: 10px;
    }
    .divProductos__img {
        width: 100%;
    }
    .divProductos__div {
        width: 100%;
        padding: .5rem;
    }
    .leerJson,
    .leerCafeteria,
    .leerEnsaladas,
    .leerBebidas,
    .leerPlatos {
        display: flex;
        flex-wrap: wrap;
    }
}
@media (min-width: 1001px) and (max-width: 1200px){
    .divProductos {
        grid-template-columns: 1fr;
        width: 22%;
    }
    .divProductos__img {
        width: 100%;
    }
    .divProductos__div {
        width: 100%;
        padding: .5rem;
    }
    .leerJson,
    .leerCafeteria,
    .leerEnsaladas,
    .leerBebidas,
    .leerPlatos {
        display: flex;
        flex-wrap: wrap;
    }
}
@media (min-width: 1201px) {
    .divProductos {
        grid-template-columns: 1fr;
        width: 15%;
    }
    section {
        width: 80%;
        margin: auto;
    }
    .divProductos__img picture img {
        width: 100%;
        height: 165px;
        border-radius: 10px 0px 0px 10px;
    }
    .divProductos__img {
        width: 100%;
    }
    .divProductos__div {
        width: 100%;
        padding: 1rem;
    }
    .leerJson,
    .leerCafeteria,
    .leerEnsaladas,
    .leerBebidas,
    .leerPlatos {
        display: flex;
        flex-wrap: wrap;
    }
}