/*
https://coolors.co/palette/2b2d42-8d99ae-edf2f4-ef233c-d90429
font-family: 'Abril Fatface', cursive;
font-family: 'Kdam Thmor Pro', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.button {
    font-family: 'Kdam Thmor Pro', sans-serif;
    /*border: solid 4px;
    border-image-source: linear-gradient(to bottom right, #f78ae0, #6638f0);
    border-image-slice: 4;*/
}
.letraChica {
    font-size: .7rem;
}
section {
    width: 90%;
    margin: auto;
    padding-bottom: 3rem;
}
section h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem;
    text-align: center;
}

.principal__p {
    font-size: 1.6rem;
    font-weight: 800;
    margin: 1.5rem;
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.leerJson {
    display: grid;
    justify-content: center;
}
.estadoConexion {
    position: absolute;
    width: 100%;
    background: rgba(255, 0, 0, 0.85);
    /* padding: 0.5rem; */
    display: flex;
    margin: auto;
    justify-content: center;
    z-index: 1000;
}
/*.botones {
    display: flex;
    flex-wrap: wrap;
}
.botones .btn1 {
    padding: .5rem;
    border: 1px solid red;
}*/

html,
body {
    position: relative;
    height: 100%;
}

.body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.Maña__uno {
    /*background-color: rgb(255 255 255 / 90%);*/
    /*border: 1px solid #edf2f4;*/
    padding: 0.5rem;
    /*font-size: 1rem;*/
    /*text-align: center;*/
    /* border-radius: 5px; */
    margin: 0;
    color: gray;
    font-family: 'Kdam Thmor Pro', sans-serif;
}


.Mañanas {
    display: grid;
    grid-template-columns: 3fr 1fr;

}
.MañanasDos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.Mañanas p, .MañanasDos p {
    background-color: rgb(255 255 255 / 90%);
    border: 1px solid #edf2f4;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    /* border-radius: 5px; */
    margin: 0;
    color: gray;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

/*------formas de pagos-----------------*/


.pagos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: .6rem;
}
.pagos__p {
    width: 100%;
    margin: .9rem;
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.pagos__div {
    display: flex;
    font-size: 0.7rem;
}
.pagos__divCredito {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
/* {*/
/*    !*background-image: url("../img/mercadoPago.png") ;*!*/
/*    !*background-size: cover;*!*/
/*    !*background-position: center;*!*/
/*    !*font-size: 0;*!*/
/*}*/
.bi {
    border: 1px solid #a18585;
    border-radius: 50%;
    padding: 0.3rem;
}
/*------ fin formas de pagos-----------------*/



.uno,
.dos,
.tres,
.cuatro,
.cinco {
    cursor: pointer;
    /*display: flex;
    flex-direction: column;*/
}
/* -------------  modal mill --------------- */
.pictureModal {
    width: 30%;
    margin: 0;
    display: flex;
    align-items: center;
}
.pictureModal__imgModal {
    width: 60%;
    margin: 1rem;
}
.divModalMill {
    display: flex;
    background-color: #edf2f4;
    border-radius: 10px;
    max-width: 300px;
    flex-wrap: wrap;
}
.divModalMillDatos{
   /* background: #a18585;*/
}
.divModalMillDatos__h2 {
    margin: 1rem auto;
    font-size: 2rem;
    width: 90%;
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.divModalMillDatos__h4 {
    margin: 1rem auto;
    width: 90%;
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: flex;
    flex-direction: column;
}
.divModalMillDatos__h4 span {
    font-weight: 800;
}
/*
.divModalMillDatos__h4 {
    margin: 1rem auto;
    width: 90%;
    text-align: center;
    font-weight: 800;
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: flex;
    flex-direction: column;
}*/
/*------------------ Ventana modal desayunos y meriendas ---------------*/

.divProductosModal {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #edf2f4;
    border-radius: 10px;
    max-width: 300px;
}
.divProductosModal__h2 {
    margin: 0.8rem auto;
    text-align: center;
    font-weight: 600;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.divProductosModal__h3 {
    margin: 1rem auto;
    width: 90%;
    text-align: center;
    font-weight: 400;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.divProductosModal__h4 {
    margin: .8rem auto;
    font-weight: 800;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
/*.divProductosModal picture {

}*/
.divProductosModal picture img{
    border-radius: 5px;
    cursor: pointer;
}
.divProductosModal picture {
    margin: auto;
    overflow: hidden;
    position: relative;
}
.divProductosModal picture img {
    /*position: absolute;*/
    z-index: -1;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

    transition: transform 200ms;

}
.divProductosModal picture:hover img {
    transform: scale(1.05);
}


.divProductos {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: .8rem auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #edf2f4;
    border-radius: 10px;
}
.divProductos:hover {
    background-color: rgba(194, 202, 204, 0.1);
}
.divProductos__div{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 1rem;*/
    text-align: center;
    margin: auto;
}

.divProductos__h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    color: gray;
    width: 95%;
    margin: 1rem;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 0.9rem;
}
.divProductos__p {
    text-align: center;
    font-weight: 600;
    margin: 1rem;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.divProductos__img {
    background-size: cover;
    background-position: center;
    width: 30%;

}

.divProductos__img picture img{
    border-radius: 5px;
    cursor: pointer;
}
.divProductos__img picture {
    margin: auto;
    overflow: hidden;
    position: relative;

}
/*.divProductos__img picture:hover {
    background-color: rgba(194, 202, 204, 0.1);
}*/
.divProductos__img picture img {
    /*position: absolute;*/
    z-index: -1;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

    transition: transform 200ms;

}
.divProductos__img picture:hover img {
    transform: scale(1.05);

}
/*.divProductos__img picture img {

}*/
/*.divProductos {*/
/*    background-color: #edf2f4;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    margin: 1rem auto;*/
/*    border-radius: 10px;*/
/*}*/
/*.divProductos__div {
    !*width: 65%;*!
    display: flex;
    flex-direction: column;
    !*align-items: center;*!
    !*margin: auto;*!
    justify-content: space-between;
}*/
/*.divProductos__img {
    !*background-image: url("../img/crepess.jpg");*!
    background-size: cover;
    background-position: center;
    !*width: 35%;*!
    height: auto;
}
.divProductos__img picture img {
    !*width: auto;*!
    !*height: 178px;*!
    border-radius: 10px 0px 0px 10px;
}
.divProductos .divProductos__img .picture .picture__img:nth-child(6) {
    !*width: auto;*!
    height: 188px;
    border-radius: 10px 0px 0px 10px;
}*/

.colors {
    background: #ff000042;
    border-radius: 5px;
}

.productoModal {
    background-color: #edf2f4;
}
.modalHombre {
    position: fixed;
    z-index: 1032;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.9);

}
#modal {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50px;
    /*right: 0;*/
    border-radius: 1em;
    /*width: 1.5em;*/
    /*height: 1.5em;*/
    background-color: rgba(255, 255, 255, .9);
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    color: #1A4A5E;
    text-decoration: none;
    margin: 0.5rem;
    padding: .5rem;
}
.modalHombreEnsaladas {
    position: fixed;
    z-index: 1032;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.9);

}
#modalEnsaladas {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50px;
    /*right: 0;*/
    border-radius: 1em;
    /*width: 1.5em;*/
    /*height: 1.5em;*/
    background-color: rgba(255, 255, 255, .9);
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    color: #1A4A5E;
    text-decoration: none;
    margin: 0.5rem;
    padding: .5rem;
}
.desayuno {

}
/*.divProductos__img,*/
/*.divProductos__div {*/
/*    width: 100%;*/
/*}*/

.footer {
    text-align: center;

}
.footer p {
     padding: 1rem;
 }


.button {
    color: #0e0e0e;
    display: flex;
    justify-content: center;
    margin: auto 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem;
}

@media (min-width: 400px) and (max-width: 500px){

    .Maña__uno {
        font-size: .8rem;
    }
}

@media (min-width: 501px) and (max-width: 600px){

    .Maña__uno {
        font-size: .8rem;
    }
    /*.divProductos {*/
    /*    grid-template-columns: 1fr;*/
    /*    width: 100%;*/
    /*}*/
    /*.leerJson button {*/
    /*    width: 45%;*/
    /*}*/
    /*.divProductos__img {*/
    /*    width: 100%;*/
    /*}*/
    /*.divProductos__div{*/
    /*    width: 100%;*/
    /*    padding: .5rem;*/
    /*}*/
    /*.leerJson,*/
    /*.leerCafeteria,*/
    /*.leerEnsaladas,*/
    /*.leerBebidas,*/
    /*.leerPlatos {*/
    /*    display: flex;*/
    /*    flex-wrap: wrap;*/
    /*}*/
}
@media (min-width: 601px) and (max-width: 700px){

    .Maña__uno {
        font-size: 1.3rem;
    }
    /*.leerJson button {*/
    /*    width: 45%;*/
    /*}*/
    /*.divProductos__img {*/
    /*    width: 100%;*/
    /*}*/
    /*.divProductos__div{*/
    /*    width: 100%;*/
    /*    padding: .5rem;*/
    /*}*/

    /*.leerJson,*/
    /*.leerCafeteria,*/
    /*.leerEnsaladas,*/
    /*.leerBebidas,*/
    /*.leerPlatos {*/
    /*    display: flex;*/
    /*    flex-wrap: wrap;*/
    /*}*/
}
@media (min-width: 701px) and (max-width: 800px){
    .Maña__uno {
        font-size: 1.3rem;
    }
    /*.divProductos {*/
    /*    grid-template-columns: 1fr;*/
    /*    width: 25%;*/
    /*    gap: 10px;*/
    /*}*/
    /*.divProductos__img {*/
    /*    width: 100%;*/
    /*}*/
    /*.divProductos__div {*/
    /*    width: 100%;*/
    /*    padding: .5rem;*/
    /*}*/
    /*.leerJson,*/
    /*.leerCafeteria,*/
    /*.leerEnsaladas,*/
    /*.leerBebidas,*/
    /*.leerPlatos {*/
    /*    display: flex;*/
    /*    flex-wrap: wrap;*/
    /*}*/

}
@media (min-width: 801px) and (max-width: 900px){
    .Maña__uno {
        font-size: 1.3rem;
    }
    /*.divProductos {*/
    /*    grid-template-columns: 1fr;*/
    /*    width: 25%;*/
    /*    gap: 10px;*/
    /*}*/
    /*.divProductos__img {*/
    /*    width: 100%;*/
    /*}*/
    /*.divProductos__div {*/
    /*    width: 100%;*/
    /*    padding: .5rem;*/
    /*}*/
    /*.leerJson,*/
    /*.leerCafeteria,*/
    /*.leerEnsaladas,*/
    /*.leerBebidas,*/
    /*.leerPlatos {*/
    /*    display: flex;*/
    /*    flex-wrap: wrap;*/
    /*}*/
}
@media (min-width: 901px) and (max-width: 1000px){
    .Maña__uno {
        font-size: 1.3rem;
    }
    #platos {
        display: grid;
        justify-content: center;
    }
    /*.divProductos {*/
    /*    grid-template-columns: 1fr;*/
    /*    width: 20%;*/
    /*    gap: 10px;*/
    /*}*/
    /*.divProductos__img {*/
    /*    width: 100%;*/
    /*}*/
    /*.divProductos__div {*/
    /*    width: 100%;*/
    /*    padding: .5rem;*/
    /*}*/
    /*.leerJson,*/
    /*.leerCafeteria,*/
    /*.leerEnsaladas,*/
    /*.leerBebidas,*/
    /*.leerPlatos {*/
    /*    display: flex;*/
    /*    flex-wrap: wrap;*/
    /*}*/
}
@media (min-width: 1001px) and (max-width: 1200px){
    .Maña__uno {
        font-size: 1.3rem;
    }
    /*.divProductos {*/
    /*    grid-template-columns: 1fr;*/
    /*    width: 20%;*/
    /*}*/
    /*.divProductos__img {*/
    /*    width: 100%;*/
    /*}*/
    /*.divProductos__div {*/
    /*    width: 100%;*/
    /*    padding: .5rem;*/
    /*}*/
    /*.leerJson,*/
    /*.leerCafeteria,*/
    /*.leerEnsaladas,*/
    /*.leerBebidas,*/
    /*.leerPlatos {*/
    /*    display: flex;*/
    /*    flex-wrap: wrap;*/
    /*}*/
    .divProductos {
        grid-template-columns: 1fr;
        width: 16%;
    }
    section {
        width: 80%;
        margin: auto;
    }
    .divProductos__img picture img {
        width: 100%;
        height: 165px;
        border-radius: 10px 0px 0px 10px;
    }
    .divProductos__img {
        width: 100%;
    }
    .divProductos__div {
        width: 100%;
        padding: 1rem;
    }
    .leerJson,
    .leerCafeteria,
    .leerEnsaladas,
    .leerBebidas,
    .leerPlatos {
        display: flex;
        flex-wrap: wrap;
    }
}
@media (min-width: 1201px) {
    .Maña__uno {
        font-size: 1.3rem;
    }
    .divProductos {
        grid-template-columns: 1fr;
        width: 16%;
    }
    section {
        width: 80%;
        margin: auto;
    }
    .divProductos__img picture img {
        width: 100%;
        height: 165px;
        border-radius: 10px 0px 0px 10px;
    }
    .divProductos__img {
        width: 100%;
    }
    .divProductos__div {
        width: 100%;
        padding: 1rem;
    }
    .leerJson,
    .leerCafeteria,
    .leerEnsaladas,
    .leerBebidas,
    .leerPlatos {
        display: flex;
        flex-wrap: wrap;
    }
}